<div class="container">
  <div class="row">
    <div class="col">
      <img [src]="logo" [alt]="logo" routerLink="/user/home" />
    </div>
    <div class="col pages">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <a routerLinkActive="active" routerLink="/user/markets">
            المتاجر
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a routerLinkActive="active" routerLink="/user/meats">
            اللحوم
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a routerLinkActive="active" routerLink="/user/chickens">
            الدواجن
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a routerLinkActive="active" routerLink="/user/admirals">
            البحريات
          </a>
        </div>
      </div>
    </div>
    <div class="col icons">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-whatsapp"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 copyRight">
      جميع الحقوق محفوظه سنة &copy; 2019
    </div>
  </div>
</div>
