* {
  direction: rtl;
}

.log {
  margin: 0 auto;
  cursor: pointer;
  background: rgb(246, 76, 76);
  color: white;
  padding: 10px 11px 13px 11px;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}

.log:hover {
  background: white;
  color: rgb(246, 76, 76);
}

nav {
  background-color: white !important;
  box-shadow: 0 7px rgb(239, 241, 242) !important;
}

img {
  width: 71px;
}

.mr-auto,
.mx-auto {
  margin-right: 25px !important;
}

li a {
  margin-left: 107px;
  font-weight: 500;
  color: #000000 !important;
}

button {
  background-color: rgb(245, 76, 76);
  color: white;
}

.form-inline {
  position: relative;
  width: 100%;
}

.form-inline input {
  width: 100%;
  height: 42px;
  border-radius: 27px;
}

.form-inline button {
  position: absolute;
  left: 13px;
  border-radius: 50%;
  padding: 2px 7px;
  border: none;
}

.fa-search:before {
  font-size: 13px;
}

.nav-link.active,
.nav-link:hover {
  color: rgb(246, 76, 76) !important;
}

@media only screen and (max-width: 991px) {
  nav {
    text-align: center;
  }

  li a {
    margin-left: 9px;
  }
}
